
* {
    /*盒模型 -> width = 内容区域的宽度 + padding(左右) + border(左右)*/
    /*盒模型 -> 实际占据的空间(元素的总宽度) = width + margin(左右)*/
    box-sizing: border-box;
}

.content {
    margin-left: 2px;
    margin-right: 2px;
    width: calc(100% - 4px);
    height: 100%;
    background-color: antiquewhite;
    display: flex;
}



[class$="-container"] {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
}


.table-container {
    height: calc(100% - 20px);
}

.node-container {
    background-color: rgb(37, 38, 56);
    height: 20px;
    border-radius: 5px;
    border: 0.2rem solid rgb(224, 214, 21);
    position: absolute;
    overflow: visible;
    /* overflow: scroll; */
    /* pointer-events: none; */
}

.block1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5% solid red;
    border-radius: 2%;
    background-color: burlywood;
    transform: translate(0px, 0px);
    z-index: 1;
}

.block2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5% solid red;
    border-radius: 2%;
    background-color: rgb(218, 162, 64);
    transform: translate(0px, 0px);
    z-index: 1;
}

.scroll-content {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    position: relative;
}



.content {
    width: max-content;
    height: min-content;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.span {
    background-color: bisque;
    color: brown;
    font-weight: 600;
    font-style: italic;
}